@import '~/assets/css/base.css';


.main {
	height: 100dvh;
	background-color: var(--brighter-shores-light-blue);
}

.header {
	background-color: var(--brighter-shores-blue);
	color: var(--text-light);
	height: 5%;
	display: flex;
	flex-direction: row;
}

.header-footer-item {
	flex: 1;
	padding: 10px;
}

.footer {
	background-color: var(--brighter-shores-gray);
	color: var(--text-light);
	height: 5%;
	display: flex;
	flex-direction: row;
}

.page {
	box-sizing: border-box;
	color: var(--text-dark);
	height: 90%;
	padding: 10px;
}